
<section>
    <div class="content">
      <div class="container">
<h2>Staff</h2>
<table>
  <thead>
    <tr>
      <th>Name</th> 
      <th>Department</th>
      <th>Directorate</th>
      <th>Designation</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% staff.forEach(staff => { %>
      <tr>
        <td><%= staff.name %></td>
        <td><%= staff.department %></td>
        <td><%= staff.directorate %></td>
        <td><%= staff.designation %></td>
        <td>
          <a href="/staff/edit/<%= staff.id %>">Edit</a> | 
          <a href="/staff/delete/<%= staff.id %>">Delete</a>
        </td>
      </tr>
    <% }) %>
  </tbody>
</table>
<br></br>
<a href="/staff/add" class="button-link">Add New Staff</a>
</div>
</div>
</section>