
    <section>
   <div class="content">
      <div class="container">
        <h2>File Status</h2>
      <table>
    <thead>
      <tr>
        <th>File Name</th>
        <th>Sender</th>
        <th>Recipient</th>
        <th>Sent At</th>
        <th>Received At</th>
        <th>Status</th>
        <th>Comment</th>
      </tr>
    </thead>
    <tbody>
      <% if (send && send.length > 0) { %>
        <% send.forEach(row => { %>
          <tr>
            <td><%= row.name %></td>
            <td><%= row.sender_name %></td>
            <td><%= row.recipient_name %></td>
            <td><%= row.sent_at %></td>
            <td><%= row.received_at %></td>
            <td><%= row.status %></td>
            <td><%= row.note %></td>
            <td> | 
          <a href="/userd/delete/<%= send.id %>">Delete</a>
        </td>

          </tr>
        <% }) %>
      <% } else { %>
        <tr>
          <td colspan="6">No files found.</td>
        </tr>
      <% } %>
      
    </tbody>
  </table>
 </div>
  </div>
</section>
